<!DOCTYPE html>
<html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hotel Ordering System</title>
         <link rel="stylesheet" href="../css/sig.css">
         <link rel="stylesheet" href="../images/friends.jpg">
    </head>
    <body>
    <div class="background-image"></div>    
    {{{body}}}
    </body>
</html>