<html>
<head>
<title>Hotel</title>
 <link rel="icon" href="../images/logo.jpg">
<link href="../css/styletemp.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../images/logo.jpg">
</head>
<body>
 {{{body}}}
    </body>
</html>