body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.background-image {
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url(friends.jpg);
  width: 1500px;
  height: 680px;

  -webkit-filter: blur(1.5px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(1.5px);
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
}
.box input[type="email"],.box input[type="password"],.box input[type="number"]{
    border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="number"]:focus{
width: 280px;
border-color:#2ecc71;    
}
.box input[type="submit"]{
     border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
    
}
.box input[type="submit"]:hover{
    background:#2ecc71;
}

