body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Login.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
width: 280px;
border-color:#2ecc71;    
}
.box input[type="submit"]{
     border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
}
.box Button{
     border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background:#2ecc71;
}



.btn-group button 
{
  margin-top: 25px;
  background: none; /* Green background */
  border: 1px grey; /* Green border */
  color: aliceblue; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  transition: color 0.4s linear;
  position: relative;
}

.btn-group label
{ 
  margin-top: 25px;
  background: none; /* Green background */
  border: 1px grey; /* Green border */
  color: aliceblue; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  transition: color 0.4s linear;
  position: relative;
}

.btn-group label:not(:last-child)
{
    border-right: none;
}


.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  color: #fff;
  border: 1.5px solid white;
}

.logo img
{
    
    width: 120px;
    height: auto;
    float: left;
    opacity: 0.8;
    filter: alpha(opacity=60);
}
.row
{
    max-width:1050px;
    margin: auto;
}

