<!DOCTYPE html>
<html>
<head>
<title>Hotel</title>
<link href="styletemp.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
            <img src="../images/logo.jpg" alt="Logo">
        </div>
           <div class="btn-group" style="width:100%">
                <a href="/home/home"><button style="width:12%">HOME</button></a>
                <a href="/home/order"><button style="width:12%">ORDER</button></a>
                <a href="/home/menu"><button style="width:12%">MENU</button></a>
                <a href="/home/rate"><button style="width:12%">REVIEWS</button></a>
                <a href="/home/login"><button style="width:12%">SIGN IN</button></a>
                <a href="/home/signup"><button style="width:12%">SIGN UP</button></a>
                <a href="/home/contact"><button style="width:12%">CONTACT</button></a>
            </div>
        </div>
        <div class="hero">
            <h1>Welcome to the Cuisine</h1>
        </div>
    </header>
    </body>
</html>