<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Animated Login Form</title>
         <link rel="stylesheet" href="../css/style1.css">
    </head>
    <body>
        <div class="row">
            <div class="logo">
            <img src="../images/logo.jpg" alt="Logo">
        </div>
           <div class="btn-group" style="width:100%">
                <a href="/home/home"></a><button style="width:12%">HOME</button>
                <a href="/home/order"></a><button style="width:12%">ORDER</button>
                <a href="/home/menu"></a><button style="width:12%">MENU</button>
                <a href="/home/reviews"></a><button style="width:12%">REVIEWS</button>
                <a href="/home/login"><button style="width:12%">SIGN IN</button></a>
                <a href="/home/SignUp"><button style="width:12%">SIGN UP</button></a>
                <a href="/home/contact"></a><button style="width:12%">CONTACT</button>
            </div>
        </div>
    <form class="box" action="/home/login" method="post" autocomplete="off">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign in">
        <Button onclick="window.location.href='ForgotPassword.html'">Forgot Password</Button>
    </form >
    </body>
</html>