<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Animated Login Form</title>
         <link rel="stylesheet" href="../css/style1.css">
    </head>
    <body>
    <form class="box" action="/home/login" method="post" autocomplete="off">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="signin" value="Sign in">
        <Button onclick="window.location.href='ForgotPassword.html'">Forgot Password</Button>
    </form >
  
    
    
    </body>
</html>