<!DOCTYPE html>
<html>
<head>
<title>Hotel</title>
<link href="revout_css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
            <img src="logo.jpg" alt="Logo">
        </div>
           <div class="btn-group" style="width:100%">
                <a href="/home/home"></a><button style="width:12%">HOME</button>
                <a href="/home/order"></a><button style="width:12%">ORDER</button>
                <a href="/home/menu"></a><button style="width:12%">MENU</button>
                <a href="/home/reviews"></a><button style="width:12%">REVIEWS</button>
                <a href="/home/contact"></a><button style="width:12%">CONTACT</button>
                <a href="/home/home"></a><button style="width:12%">LOGOUT</button>
                <label for="Welcome">Welcome</label>
            </div>
        </div>
        <div class="hero">
            <h1>Customer Reviews</h1>
        </div>
    </header>
    </body>
</html>